# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\produce\IdeaProjects\my-container-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
